@page "/laps"
@inject ISessionManagerService sessionManager
@inject NavigationManager NavigationManager
@inject ILdapService LDAPService
@inject ISnackbar Snackbar
@inject ClipboardService clipboard
@using CurrieTechnologies.Razor.Clipboard

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-5">

    @if (!Authenticated)
    {
        <MudAlert Elevation="3" Severity="Severity.Error" Variant="Variant.Outlined">Access denied!</MudAlert>
    }
    else
    {
        <MudAutocomplete Label="Search by Computername" HelperTextOnFocus="true" HelperText="Minimum query length is 4. Wildcard (*) is supported" ShowProgressIndicator="true"
            MaxItems=null ValueChanged="@(async (ADComputer a) => OnSelectedItemChangedAsync(a).AndForget())" MinCharacters="4" SearchFunc="@SearchAsync" ToStringFunc="@_ADComputerToStringConverter" Immediate="true" ResetValueOnEmptyText="true"
            AdornmentIcon="@Icons.Material.Outlined.Search" AdornmentColor="Color.Default" Adornment="Adornment.Start" SelectValueOnTab=true Clearable=true aria-label="Search Computer" >
                <ItemTemplate Context="e">
                    <MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Computer" Class="mb-n1 mr-3" aria-label=@($"{e.Name}")/>@($"{e.Name}")
                    </MudText>
                </ItemTemplate>
                <ItemSelectedTemplate Context="e">
                    <MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Computer" Class="mb-n1 mr-3" aria-label=@($"{e.Name}")/>@($"{e.Name}")
                    </MudText>
                </ItemSelectedTemplate>
            </MudAutocomplete>

        <MudGrid Class="mt-8" Justify="Justify.SpaceEvenly">

            @foreach(var computer in SelectedComputers)
            {
                <MudItem xs="10" sm="8">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@computer.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                               <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="@(() => RemoveComputerCard(computer.Name))" aria-label="close" Disabled=@(computer.Loading)/>
                            </CardHeaderActions>       
                        </MudCardHeader>
                        <MudCardContent>
                            @if(!computer.Loading)
                            {
                                @if(!computer.FailedToRetrieveLAPSDetails)
                                {
                                    <MudTabs Position="Position.Top" Rounded="true" Border="false" ApplyEffectsToContainer="true" @ref="_tabs" PanelClass="pa-4">
                                        <MudTabPanel Icon="@Icons.Material.Outlined.Filter1" ID="@("v1")" Text="v1" Disabled=@(!computer.LAPSInformations!.Any(x => x.Version == Enums.LAPSVersion.v1 && x.IsCurrent))>
                                            <LapsInformationDetail LapsInfo="computer.LAPSInformations!.SingleOrDefault(x => x.Version == Enums.LAPSVersion.v1)" />
                                        </MudTabPanel>
                                        <MudTabPanel Icon="@Icons.Material.Outlined.Filter2" ID="@("v2")" Text="v2" Disabled=@(!computer.LAPSInformations!.Any(x => x.Version == Enums.LAPSVersion.v2 && x.IsCurrent))>
                                            <LapsInformationDetail LapsInfo="computer.LAPSInformations!.SingleOrDefault(x => x.Version == Enums.LAPSVersion.v2 && x.IsCurrent)" />
                                        </MudTabPanel>
                                        <MudTabPanel Icon="@Icons.Material.Outlined.History" ID="@("history")" Text="History" Disabled=@(!computer.LAPSInformations!.Any(x => x.Version == Enums.LAPSVersion.v2 && !x.IsCurrent))>
                                            <MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Striped="true">
                                                <thead>
                                                    <tr>
                                                        <th>Account</th>
                                                        <th>Password</th>
                                                        <th>Date set</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var entry in computer.LAPSInformations!.Where(x => x.IsCurrent == false && x.Version == Enums.LAPSVersion.v2))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @entry.Account
                                                            </td>
                                                            <td>
                                                                @entry.Password
                                                            </td>
                                                            <td>
                                                                @entry.PasswordSetDate
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </MudSimpleTable>
                                        </MudTabPanel>
                                    </MudTabs>
                                }
                                else
                                {
                                    <MudAlert Icon="@Icons.Material.Outlined.Warning" ShowCloseIcon="false" Variant="Variant.Outlined" Severity="Severity.Warning">
                                        <MudText Typo="Typo.inherit">No permission to retrieve LAPS Password or no LAPS Password set!</MudText>
                                    </MudAlert>
                                }
                            }
                            else
                            {
                                <div class="d-flex justify-center">
                                    <MudProgressCircular Class="" Indeterminate="true" Size="Size.Large" Disabled=@(computer.Loading) />
                                </div>
                            }
                        </MudCardContent>
                        <MudCardActions>
                            <MudTooltip Text="@(IsCopyToClipboardSupported ? "Copy Password to clipboard" : "Your browser does not support Clipboard API - please use STRG+C")">
                                <MudIconButton Disabled="@(!IsCopyToClipboardSupported || (_tabs != null && _tabs.ActivePanel != null && _tabs.ActivePanel.ID.ToString() == "history"))" Icon="@Icons.Material.Filled.FileCopy" Color="Color.Tertiary" OnClick="@(async e => await CopyLAPSPasswordToClipboardAsync(computer))" aria-label="Copy Password to clipbard"/>
                            </MudTooltip>
                            <MudTooltip Text="Refresh">
                                <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Tertiary" OnClick="@(async e => await RefreshComputerDetailsAsync(computer.Name))" aria-label="refresh"/>
                            </MudTooltip>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }

        </MudGrid>
    }
 </MudContainer>
