@page "/laps"
@inject ISessionManagerService SessionManager
@inject NavigationManager NavigationManager
@inject ILdapService LdapService
@inject ISnackbar Snackbar
@inject IDialogService Dialog

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">

    @if (!Authenticated)
    {
        <MudAlert Elevation="3" Severity="Severity.Error" Variant="Variant.Outlined">Access denied!</MudAlert>
    }
    else
    {
        <MudAutocomplete Label="Search by Computername" HelperTextOnFocus="true" HelperText="Minimum query length is 4. Wildcard (*) is supported" Variant="Variant.Outlined" ShowProgressIndicator="true" AutoFocus="true" Immediate="true" ResetValueOnEmptyText="true" @ref="_autoCompleteSearchBox"
                         MaxItems=null ValueChanged="@(async (AdComputer a) => await OnSelectedItemChangedAsync(a))" MinCharacters="4" MaxLength="15" SearchFunc="@SearchAsync" ToStringFunc="@(x => (x?.Name ?? string.Empty))"  
            AdornmentIcon="@Icons.Material.Outlined.Search" AdornmentColor="Color.Default" Adornment="Adornment.Start" SelectOnActivation="true" SelectValueOnTab=true Clearable=true aria-label="Search Computer" >
                <ItemTemplate Context="e">
                    <MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Computer" Class="mb-n1 mr-3" aria-label=@($"{e.Name}")/>@($"{e.Name}")
                    </MudText>
                </ItemTemplate>
                <ItemSelectedTemplate Context="e">
                    <MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Computer" Class="mb-n1 mr-3" aria-label=@($"{e.Name}")/>@($"{e.Name}")
                    </MudText>
                </ItemSelectedTemplate>
                <MoreItemsTemplate>
                    <AutoCompleteMoreItemsFound/>
                </MoreItemsTemplate>
                <NoItemsTemplate>
                    <AutoCompleteNoItemsFound />
                </NoItemsTemplate>
            </MudAutocomplete>

        <MudGrid Class="mt-8" Justify="Justify.SpaceEvenly">

            @foreach(AdComputer computer in SelectedComputers)
            {
                <MudItem xs="10" lg="6">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@computer.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudStack Row="true" Spacing="0">
                                    <MudTooltip Text="Clear LAPS Password">
                                        <MudIconButton Icon="@Icons.Material.Filled.LockReset" Color="Color.Primary" OnClick="@(async e => await ClearLapsPassword(computer))" aria-label="clear laps password" Disabled=@(computer.Loading) />
                                    </MudTooltip>
                                    <MudTooltip Text="Refresh">
                                        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" OnClick="@(async e => await RefreshComputerDetailsAsync(computer))" aria-label="refresh" Disabled=@(computer.Loading) />
                                    </MudTooltip>
                                    <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="@(() => RemoveComputerCard(computer.Name))" aria-label="close" Disabled=@(computer.Loading) />
                                </MudStack>
                            </CardHeaderActions>    
                        </MudCardHeader>
                        <MudCardContent>
                            <div style="position: relative" Class="mb-4">
                                <MudLoading Loading="@computer.Loading" LoaderType="LoaderType.Circular">
                                @if (!computer.FailedToRetrieveLapsDetails)
                                {
                                    <MudTabs Position="Position.Top" Rounded="true" Border="false" ApplyEffectsToContainer="true" PanelClass="pa-4" @key="computer.Name" @ref="_mudTabsDict[computer.Name]">
                                        <MudTabPanel Icon="@Icons.Material.Outlined.Filter1" ID="@("v1")" Text="v1" Disabled=@(!computer.LapsInformations!.Any(x => x is { Version: Enums.LAPSVersion.v1, IsCurrent: true }))>
                                            <LapsInformationDetail LapsInfo="computer.LapsInformations!.SingleOrDefault(x => x.Version == Enums.LAPSVersion.v1)"/>
                                        </MudTabPanel>
                                        <MudTabPanel Icon="@Icons.Material.Outlined.Filter2" ID="@("v2")" Text="v2" Disabled=@(!computer.LapsInformations!.Any(x => x is { Version: Enums.LAPSVersion.v2, IsCurrent: true }))>
                                            <LapsInformationDetail LapsInfo="computer.LapsInformations!.SingleOrDefault(x => x is { Version: Enums.LAPSVersion.v2, IsCurrent: true })"/>
                                        </MudTabPanel>
                                        <MudTabPanel Icon="@Icons.Material.Outlined.History" ID="@("history")" Text="History" Disabled=@(!computer.LapsInformations!.Any(x => x is { Version: Enums.LAPSVersion.v2, IsCurrent: false }))>
                                            <MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Striped="true">
                                                <thead>
                                                <tr>
                                                    <th>Account</th>
                                                    <th>Password</th>
                                                    <th>Date set</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (LapsInformation entry in computer.LapsInformations!.Where(x => x is { IsCurrent: false, Version: Enums.LAPSVersion.v2 }))
                                                {
                                                    <tr>
                                                        <td>
                                                            @entry.Account
                                                        </td>
                                                        <td>
                                                            @entry.Password
                                                        </td>
                                                        <td>
                                                            @entry.PasswordSetDate
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </MudSimpleTable>
                                        </MudTabPanel>
                                    </MudTabs>
                                }
                                else
                                {
                                    <MudAlert Icon="@Icons.Material.Outlined.Warning" ShowCloseIcon="false" Variant="Variant.Outlined" Severity="Severity.Warning">
                                        <MudText Typo="Typo.inherit">No permission to retrieve LAPS Password or no LAPS Password set!</MudText>
                                    </MudAlert>
                                }
                            </MudLoading>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }

        </MudGrid>
    }
 </MudContainer>
